<%- include('home-ngo.ejs'); -%>
    <link rel="stylesheet" href="./stylesheets/donor.css" />
    <div class="donor_table">
        <div class="header">
            <h1> SightSavers <img class="arrow" src="./images/arrow.png" alt=""></h1>
            <hr class="border" />

        </div>
        <div class="total__amount" >
            <span>
            <h1 style="display: inline;">Total amount gathered so far: </h1>
            <h1 style="display: inline;"> <%- total %> </h1>
            </span>
        </div>
        <div class="table">
            <table style="width:800px ; height: 100px;">
                <tr>
                    <th>
                        <h2 id="table_heading">Donor</h2>
                    </th>
                    <th>
                        <h2 id="table_heading">Amount</h2>
                    </th>
                    <th>
                        <h2 id="table_heading">Time</h2>
                    </th>

                </tr>
                <div class="table_element">
                    <% donationData.forEach((donor) =>{ %>
                        <tr>
                            <th class="border1"> <img class="profile_image" src="./images/T7.jpg"> <%- donor.donor_name %></th>
                            <th class="border2"><%- donor.amount %></th>
                            <th class="border2"><%- donor.regDate %></th>
                        </tr>
                   <% }) %>
                </div>

            </table>

        </div>

    </div>