<%- include('../partials/header.ejs') -%>
<%- include('../chore.ejs') -%>
<link rel="stylesheet" href="/stylesheets/ngo.css" >
<div class="ngo__container" style="display: flex; justify-content:center; align-items:center;">
    <div class="ngo__content">
        <!-- <div class="ngo__logo">
            <% let location = "../uploads/" + image %>
            <img src="<%= location %>" class="ngo__image" alt="ngo" />
        </div> -->
        <div class="ngo__info">
            <div class="ngo__name">
            <p><%= name %></p>
            </div>
            <div class="ngo__data">
               <%= description %>
            </div>
            <% let src = "/donor-user/" + mail;  %>
            <button class="donate__btn" type="button" style="cursor: pointer;"><a href="<%= src %>"> Donate Now </a> </button>
        </div>
    </div>
</div>